body {
    /* background-color: #EDDDD4; */
    /* max-width: 100vw; */
    color: var(--theme-color1);
    background-color: var(--theme-color2);
    font-family: sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
    
    /* to prevent the orbit from overflowing */
    min-width: 1070px;
    
  }

  @media only screen and (max-width: 600px) {
    body {
      background-color: grey;
    }
  }
  
  :root {
    /* dark */
    --theme-color1: rgba(35,35,32,255);
    /* lightest color */
    --theme-color2: rgba(254,250,245,255);
    /* medium color */
    --background2: rgba(243,239,234,255);



    --darkmode1:   rgb(69,48,253, 0.3); 


    /* dark */
    --darkmode2:   rgb(83, 83, 83);
    /* medium dark */
    --darkmode-background1:    rgb(45, 45, 45);
  /* dark contrast */
    --darkmode-contrast: rgba(254,250,245,255);

    /* button-for-blur */
    --button-color: rgb(200, 200, 200, 0.2);
    


    /* h1 background color original*/
    --h1-background: conic-gradient(
      #ffefb1 8.333%, 
      #ffc426 16.666%, 
      #fc3456 24.333%, 
      #4530fd 31.666%,  
      #470f7f 50%, 
      #35017e 58.333%, 
      #210959 66.666%, 
      #4624d7 74.333%, 
      #fc3456 81.6666%);

          /* h1-darkmode background color */
    --h1-darkmode: conic-gradient(
      #7d34fc 8.333%, 
      #8400ff 16.666%, 
      #00ffbf 24.333%, 
      #9a30fd 31.666%,  
      #23abff 50%, 
      #00ff4c 58.333%, 
      #00eeff 66.666%, 
      #00ffc8 74.333%, 
      #7d34fc 81.6666%);

      --h1-reset: conic-gradient(
        #ffefb1 8.333%, 
        #ffc426 16.666%, 
        #fc3456 24.333%, 
        #4530fd 31.666%,  
        #470f7f 50%, 
        #35017e 58.333%, 
        #210959 66.666%, 
        #4624d7 74.333%, 
        #fc3456 81.6666%); 

    --button-text-light: conic-gradient(
      #fc3456 24.333%, 
      /* #fc3456 = rgb(252,52,86) */
      #4530fd 31.666%,  
      /* #4530fd = rgb(69,48,253) */
      #470f7f 50%, 
      #35017e 58.333%, 
      #210959 66.666%, 
      #4624d7 74.333%, 
      #fc3456 81.6666%);

    --button-text-dark: conic-gradient(
      #5574ff 8.333%, 
      #5574ff 16.666%, 
      #5574ff 20.666%, 
      #55c1ff 24.333%, 
      #23f8ff 26.333%, 
      /* #9a30fd 31.666%,   */
      #23f8ff 50%, 
      #00ffea 58.333%, 
      #00eeff 66.666%, 
      #00ffc8 74.333%, 
      #5593ff 79.333%, 
      #5574ff 81.6666%);


      --button-text-reset: conic-gradient(
        #fc3456 24.333%, 
        /* #fc3456 = rgb(252,52,86) */
        #4530fd 31.666%,  
        /* #4530fd = rgb(69,48,253) */
        #470f7f 50%, 
        #35017e 58.333%, 
        #210959 66.666%, 
        #4624d7 74.333%, 
        #fc3456 81.6666%);
  }

  


  
  


  #hero-section {
    /* height: 100vh; check of ze dit bedoelen */
    width: 100%;
    height: 80vh;
    /* background-color: yellow; */
    display: flex;
    justify-content:center;
    align-items: center;
  }
  
  #h1-total {
    /* background-color: #0f98ce; */
    /* height: 400px;
    width: 800px; */
  }
  
  .text {
    font-size: 2.8rem;
  }

  #h1-a {
    text-decoration: none;
  }

  #h1-ardey {
    font-family: "Work Sans", sans-serif;
    font-weight: 800;
    font-size: 5em;
    width: 5em;
    line-height: 0.9em;
  }
  
  #hero-img {
    position: absolute;
    width: 300px;
    height: 310px;
    display: flex;
    align-self: center;
    margin-bottom: 300px;
    border-radius: 50%;
    z-index: -1;
  }
  
  #h1-ardey {
    background: #fc3456;
    background-color: #fc3456;
    background: var(--h1-background) ;


    background-size: 100%;
    background-repeat: repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 

    animation: h1-ardey-animation-rev 0.5s ease forwards;
  
    cursor: pointer;
  }

  #hero-text {
    width: 15em;
    /* background-color: #e4149f; */
  }


#hero-background-animation {
  /* width en height zijn voor edits */
  width: 400px;
  height: 400px;
  background: rgb(69,48,253, 0.3); 
  position: absolute;
  display: flex;
  align-self: center;
  border-radius: 50%;
  animation: hero-animation 4s linear infinite ;
  z-index: -2;
}

@keyframes hero-animation {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0;
  }
  70% {
    width: 0px;
    height: 0px;
    opacity: 0;
  }
  70% {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
  80% {
    width: 600px;
    height: 600px;
    opacity: 1;
  }
  100% {
    width: 700px;
    height: 700px;
    opacity: 0;
  }
}



#scroll-down {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#scroll-icon {
  font-size: 3em;
  text-align: center;
  width: 0,5em;
  /* height: auto; */
  color: rgb(105, 105, 105);
  animation: scroll-animation 4s linear infinite;
  animation-timing-function: 5;
  animation-delay: 710ms;
  position: absolute;
  z-index: -3;
  /* background-color: #0f0fce; */
}

@keyframes scroll-animation {
  0% {
    margin-top: 0px;
    color: rgba(105, 105, 105, 0);
  }
  35% {
    margin-top: 0px;
    color: rgba(105, 105, 105, 0);
  }

  55% {
    margin-top: 0px;
    color: rgba(105, 105, 105, 0);
  }
  /* 53% {
    top: 60vh;
  }
  55% {
    top: 55vh;
  }
  57% {
    top: 60vh;
  } */
  60% {
    margin-top: 400px;
    color: rgb(105, 105, 105);
  }
  100% {
    margin-top: 400px;
    color: rgba(105, 105, 105, 0);
  }
}




  /* Animation on hover */
  #h1-ardey:hover {
    animation: h1-ardey-animation 0.8s ease forwards;
  }
  /* Text background animation start */
  @keyframes h1-ardey-animation {
    0% {
      background-size: 210%;
      background-position: 0 0em;
    }
    10% {
      line-height: 1em;
      padding-top: 100px;
    }
    20% {
      background-size: 57%;
      background-position: 1 0em;
    }
    100% {
      background-size: 300%;
      background-position: -5.5em 1em;
    }
  }
  
  /* Text background animation back */

  @keyframes h1-ardey-animation-rev {
    0% {
      background-size: 300%;
      background-position: -5.5em 1em;
    }
    20% {
      background-size: 57%;
      background-position: 1 0em;
    }
    100% {
      background-size: 210%;
      background-position: 0 0em ;
    }
  }











#navbar {
  position: fixed;
  top: 5%;
  width: 200px;
  height: 100px;
  background-color: rgb(200, 200, 200, 0.2);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  margin-left: calc(5vw);
  margin-right: auto;
  border-radius: 60px;
  /* animation: navbar-animation-rev 0.35s ease forwards; */
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar-fingerprint {
  color: black;
  width: 4rem;
  height: auto;
  position: relative;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  display: flex;
  /* background-color: #0f0fce; */
  font-size: 4rem;
  z-index: 4;


}


/* hover on navbar, to make fingerprint disapear */

#navbar:hover > #navbar-fingerprint { 
  /* visibility: hidden; also possible, but interfears with layout*/
  display: none;
}


#navbar:hover {
  position: fixed;
  top: 5%;
  height: 100px;
  background-color: rgb(200, 200, 200, 0.2);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: 30px;
  z-index: 4;

}

#navbar-icons {
 /* icon styling within navbar */
}

#darkmode {
  position: fixed;
  top: 5%;
  right: 5%;
  width: 200px;
  height: 100px;
  background-color: rgb(200, 200, 200, 0.2);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  /* margin-left: calc(85vw); */
  /* margin-right: auto; */
  border-radius: 60px;
  z-index: 4;
  display: flex;
  /* animation: darkmode-animation-rev 0.35s ease forwards; */
  justify-self: center;
  align-items: center;

  
}

#darkmode-icon {
  color: black;
  width: 4rem;
  height: auto;
  position: relative;
  font-size: 35px;
  display: block;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  font-size: 4rem;
  z-index: 4;

  /* background-color: #0f0fce; */

}

/* Animation for dark mode when active */
#darkmode.darkmode-active {
  animation: darkmode-animation 0.5s ease forwards;
}

.darkmode-active body {
  --theme-color1: var( var(--theme-color1))
}

/* Animation for dark mode when reversed (optional) */
#darkmode.darkmode-reversed {
  animation: darkmode-animation-rev 0.5s ease forwards;
}

/* darkmode animation */
#darkmode:hover {
  animation: darkmode-animation 0.5s ease forwards;
}
@keyframes darkmode-animation {
  0% {
    height: 100px;
  }
  30% {
    width: 250px;
    height: 5%;
    background: rgb(69,48,253, 0.3); 
    height: 100px;
  }
  100% {
    /* background-color: rgb(59, 59, 59); */
    height: 100px;
  }
}




/* reverse deze voor omgekeerde effect , en maan geel maken */

@keyframes darkmode-animation-rev {
  0% {
    /* background-color: rgb(59, 59, 59); */
    height: 100px;
  }
  30% {
    width: 250px;
    height: 100px;
    background: rgb(69,48,253, 0.3); 
  }
  100% {
    height: 100px;
  }
}









/* navbar animation */
#navbar:hover {
  animation: navbar-animation 0.5s ease forwards;
}

@keyframes navbar-animation {
  0% {
    border-radius: 60px;
    height: 100px;
  }
  40% {
    width: 70%;
    height: 100px;
    background-color: rgb(200, 200, 200, 0.8);
    margin-left: 5%;
    margin-right: auto;
    /* border-radius: 20px; */
  }

  
  100% {
    width: 60%;
    height: 100px;
    background-color: rgb(200, 200, 200, 0.4);
    margin-left: 5%;
    margin-right: auto;
    border-radius: 60px;
    background: rgb(69,48,253, 0.3);    
  }
}

/* navbar animation rev */

@keyframes navbar-animation-rev {
  0% {
    width: 60%;
    height: 100px;
    border-radius: 30px;
  }
  20% {
    width: 50%;
    height: 100px;
    background-color: rgb(200, 200, 200, 0.8);
    margin-left: 2,5%;
    margin-right: 2,5%;
    border-radius: 60px;
    
  }
  80% {
    width: 8%;
    height: 100px;
    background-color: rgb(200, 200, 200, 0.8);
    margin-left: 2,5%;
    margin-right: 2,5%;
    border-radius: 60px;
  }
  100% {
    /* width: 10%; */
    border-radius: 60px;
    height: 100px;
  }
}





h1, h2, h3, h4 {
  font-weight: 333;
}

#h1 {
  display: block;
}

h1 {
  margin: 40%;
}





/* ARDEY klik animaiton */

#h1-ardey:active {
  background-color: black;
}










/* ARDEY fades white */

/* Background fades black */

/* ARDEY attrackting background objects */

/* explosion */

/* transition to Projects page */

/* create profile face met cirkelende projects  */




#skill-orbit {
  /* height: 80vh; */
  background-color: rgba(134, 134, 134, 0.1); 
  border-radius: 60px;
  padding-top: 80px;
  padding-bottom: 50px;
  height: 1100px;
  padding-left: 30px;
  padding-right: 30px;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  display: block;
  align-items: center;
  justify-content: center;
  justify-self: center;
  /* width:fit-content; */
  /* WITH POSITION ABSOLUTE I CAN SEE THE ANIMATION PROBLEM */
  /* position: absolute; */


  /* overflow-x is the original container but has scroll bar */
  /* overflow-x: hidden; */

  /* overflow: is the scroll less container */
  overflow: hidden;


  z-index: 2;
  /* margin-left: auto; */
  /* margin-right: auto; */
  scroll-behavior: none;
}




/* skill button */

.skill-button-div {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-cover {
  height: 100px;
  width: 300px;
  background-color: rgba(134, 134, 134, 0.2); 
  border-radius: 50px;
  /* margin-left: 200px; */
  display: flex;
  align-items: center;
  margin-top: 150px;
}

.button-text {
  display:flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: 60px;
  z-index: 2;


  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 5em;
  width: 5em;
  line-height: 0.9em;
  
  
    
    background: var( --button-text-light);

    background-size: 150%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 

}

.skill-img {
  width: 80px;
  height: 80px;
  margin-left: 50px;
  margin-right: 50px;
  color: black;
  margin-bottom: -130px;
}

#button .knobs:before,
#button .knobs:after,
#button .knobs span {
  position: absolute;
  top: 15px;
  width: 70px;
  height: 70px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  /* padding: 9px 4px; */
  border-radius: 200px;
  transition: 0.4s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button .knobs:before {
  /* content: "◯"; */
  left: 10px;
  top: 20px;
}

#button .knobs:after {
  /* content: "▢"; */
  left: 210px;
  top: 22px;
}

#button .knobs:before,
#button .knobs:after {
  color: #fff;
  z-index: 2;
}

#button .knobs span {
  left: 20px;
  background-color: #4624d7;
  z-index: 1;
}

#button .checkbox:checked + .knobs:before {
  left: -24px;
}

#button .checkbox:checked + .knobs:after {
  right: 4px;
}

#button .checkbox:checked + .knobs span {
  left: 210px;
  background-color: #ffc426;
}

#button .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}






.button {
  position: relative;
  /* top: 50%; */
  width: 300px;
  height: 100px;
  border-radius: 50px;
  /* margin: auto 0 auto; */
  overflow: hidden;
  /* background-color: #0f97d6; */
}



.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}



/* skill list */
#skill-list {
  /* background-color: rgba(168, 13, 13, 0.8);  */
  background-color: var(--background2);
  border-radius: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 1100px;
  width: 1050px;
  position: absolute;
  display: block;
  align-items: center;
  justify-content: center;
  justify-self: center;

  overflow-x: hidden;
  z-index: 3;

  scroll-behavior: none;
}

#container {
  display:flex;
  justify-content: center;
  overflow:visible;
}

#skills-img-container{
  display: flex;
  justify-content: center;
  align-items: baseline;
}


#skill-list-img {
  width: 800px;
  height: 800px;
  margin-top: 150px;
}
/* skill - list transform */

#list-div {
  /* background-color: #d2d2d2; */
  /* border-radius: 60px; */
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-self: center;
}

.list-item {
  width: 100%;
  background-color: var(--theme-color2);
  border-radius: 50px;
  /* padding-left: 3rem; */
  padding: 1rem;
  display: flex;
  align-items: center;

  /* one ore the other / center or padding left+right */
  /* justify-content: center; */
  padding-left: 5rem;
  padding-right: 5rem;

  margin-bottom: 0.5rem;
  margin-top: 0.5rem;

}

/* #list-subdiv{
  background-color: #0f0fce;
} */
.list-icon {
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 50%;
  margin-right: 2rem;
}

#list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(0, 128, 0, 0.661); */
  width: 100%
}

#list-box-1 {
  width: 30%;
  height: 900px;
  /* background-color: #0f0fce95; */
  position: relative;
  display: flex;
  z-index: 3;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 3em;
  line-height: 0.9em;
  padding: 100px;
}

#list-box-2 {
  width: 30%;
  height: 900px;
  /* background-color: #ce4f0f95; */
  position: relative;
  display: flex;
  z-index: 3;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 3em;
  line-height: 0.9em;
  padding: 100px;

}










/* projects with javascript */

  /* test */
#projects {
  padding-top: 100px;
  margin: 0;
  /* min-height: 80vh; */
  /* background-color: #0f55ce5a; */
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}



/* project windows */
#animation-projects-div{
  display: flex;
  justify-content: space-evenly;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  align-content: center;
  min-height: 50vh;
  color: white;
  /* maak grid horizonzaal flow ipv van boven naar beneden */
}





.project-a {
  width: 200px;
  height: 300px;
  border-radius: 40px;
  margin-left: -100px;
  margin-right: -100px;
}

.project-a:hover {
  width: 400px;
  height: 400px;
  z-index: 1;
  transition-duration: 200ms;
  margin-bottom: 100px;
}



#p1 {
  background-color: lightskyblue;
 
}

#p2 {
  background-color: lightpink;
 
}

#p3 {
  background-color: rgb(252, 252, 113);

}

#p4 {
  background-color: lightgreen;
 
}



/* div individual delay */
.project-a:nth-child(1) {
  transition-delay: 100ms;
}
.project-a:nth-child(2) {
  transition-delay: 200ms;

}
.project-a:nth-child(3) {
  transition-delay: 400ms;

}
.project-a:nth-child(4) {
  transition-delay: 600ms;

}

/* hidden and show classes for the moments the elements are visible */
    .hidden {
      opacity: 0;
      transition: all 1s;
      filter: blur(5px);
      transform: translateX(-100%);
    }

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  font-size: large;

}






/* projects */
#projects {
  margin-top: 200px;
}

#project-airshield {
  /* height: 80vh; */
  background-color: var(--background2);
  border-radius: 60px;
  padding-top: 80px;
  padding-bottom: 50px;
  height: 118rem;
  width: 90%;
  margin-top: 200px;
  /* padding-left: 30px; */
  /* padding-right: 30px; */

  display: flex;
  flex-direction: column;
  align-items: center;
  
  /* justify-content: center; */
  /* justify-self: center; */
  /* overflow-x: hidden; */
  /* scroll-behavior: none; */
}

#airshield-img {
  height: 800px;
  /* border-radius is 80px insteead of 60px so that is border-radius the img */
  border-radius: 80px;
  margin-top: 120px;
  background-color: var(--theme-color2);
  padding: 30px;
}

#airshield-link-container {
  display: flex;
  justify-content: center;
}

#airshield-link {
  width: fit-content;
  background-color: var(--theme-color2);
  border-radius: 50px;
  /* padding-left: 3rem; */
  padding: 1rem;
  display: flex;
  align-items: center;

  /* one ore the other / center or padding left+right */
  justify-content: center;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  text-align: center;
}

#airshield-link:link {
  color: var(--theme-color1);
    text-decoration: none;
  }

  /* visited link */
  #airshield-link:visited {
    color: var(--theme-color1);
    text-decoration: none;
  }

  /* mouse over link */
  #airshield-link:hover {
    color: var(--theme-color1);
    text-decoration: none;

  }

  /* selected link */
  #airshield-link:active {
    color: var(--theme-color1);
    text-decoration: none;

  }

#airshield-link-style {
  /* font-weight: 400; */
  font-size: 3.3rem;
}

.text-small {
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: 270px;
  z-index: 2;
  padding: 0.5rem;
  text-align: center;

  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 3.6em;
  width: fit-content;
  line-height: 0.9em;
}

.text-head {
  margin-top: 250px;
  z-index: 2;
  
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 3.6em;
  width: fit-content;
  text-align: center;

  line-height: 0.9em;
  
  
    
    background: var(--button-text-light); 
    background-size: 150%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 

}



.text-color {
  background: var( --button-text-light);
    /* background-size: 150%; */
    /* background-repeat: repeat; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}


.text-smallest {
  align-items: center;
  justify-content: center;
  /* position: absolute; */
  /* margin-top: 250px; */
  z-index: 2;


  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 4em;
  width: fit-content;
  line-height: 0.9em;
}

.text-mini {
  font-size: 0.6em;
}



/* other projects .............................................................................................*/ 

#project-text {
  font-size: 3rem;
  padding: 80px;
  line-height: 3rem;
}

.airshield-box  {
  display: flex;
  justify-content: center;
  margin-top: -16rem;
  margin-bottom: -3rem;
}


#other-projects{
    /* height: 80vh; */
    background-color: var(--background2);
    border-radius: 60px;
    padding-top: 0px;
    padding-bottom: 50px;
    height: 116.5rem;
    width: 90%;
    margin-top: 50px;
    /* padding-left: 30px; */
    /* padding-right: 30px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* justify-self: center; */
    /* overflow-x: hidden; */
    /* scroll-behavior: none; */
}

#other-projects-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#other-project-text {
  font-size: 3rem;
  padding: 80px;
  line-height: 3rem;
}


#other-projects-text{
  /* margin-top: -300px; */
}

#other-projects-text-title{
  margin-top: 600px;
}

#portfolio-grid{
  height: 50rem;
  border-radius: 50px;
}

#notey{

    height: 850px;
    /* border-radius is 80px insteead of 60px so that is border-radius the img */
    border-radius: 80px;
    margin-top: 160px;
    background-color: var(--theme-color2);
    padding: 30px;
}

#project-img-style{
  position: absolute;
  height: 50rem;
  width: 80%;
  border-radius: 50px;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0), var(--background2));
  /* background: linear-gradient(180deg, rgba(250, 0, 0, 0.8), var(--background2)); */
}

.notey-box  {
  display: flex;
  justify-content: center;
  margin-top: -18rem;
  margin-bottom: -7rem;
}

#notey-style {
  /* font-weight: 400; */
  /* font-size: 3.3rem; */
  padding: 1.3rem;
  margin-bottom: -1.3rem;
}



.projects-link-container {
  display: flex;
  justify-content: center;
}

.projects-link {
  width: fit-content;
  background-color: var(--theme-color2);
  border-radius: 50px;
  /* padding-left: 3rem; */
  padding: 1rem;
  display: flex;
  align-items: center;

  /* one ore the other / center or padding left+right */
  justify-content: center;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  text-align: center;
}

.projects-link:link {
  color: var(--theme-color1);
    text-decoration: none;
  }

  /* visited link */
  .projects-link:visited {
    color: var(--theme-color1);
    text-decoration: none;
  }

  /* mouse over link */
  .projects-link:hover {
    color: var(--theme-color1);
    text-decoration: none;

  }

  /* selected link */
  .projects-link:active {
    color: var(--theme-color1);
    text-decoration: none;

  }

.projects-link-style {
  /* font-weight: 400; */
  font-size: 3.3rem;
  padding: 0.3rem;
}






/* project 30m amsterdam */

#m30-text {
  font-size: 3rem;
  padding: 80px;
  line-height: 3rem;
}




#m30-projects{
    /* height: 80vh; */
    background-color: var(--background2);
    border-radius: 60px;
    padding-top: 0px;
    padding-bottom: 50px;
    height: 116.5rem;
    width: 90%;
    margin-top: 50px;
    /* padding-left: 30px; */
    /* padding-right: 30px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* justify-self: center; */
    /* overflow-x: hidden; */
    /* scroll-behavior: none; */
}

#m30-projects-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#m30-project-text {
  font-size: 3rem;
  padding: 80px;
  line-height: 3rem;
  display: flex;
}


#m30-projects-text{
  /* margin-top: -300px; */
}

#m30-projects-text-title{
  margin-top: 600px;
}

#m30-grid{
  height: 50rem;
  border-radius: 50px;
}

#m30{

    width: 800px;
    /* border-radius is 80px insteead of 60px so that is border-radius the img */
    border-radius: 80px;
    margin-top: 160px;
    background-color: var(--theme-color2);
    padding: 30px;
}

#m30-img-style{
  position: absolute;
  height: 50rem;
  width: 80%;
  border-radius: 50px;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0), var(--background2));
  /* background: linear-gradient(180deg, rgba(250, 0, 0, 0.8), var(--background2)); */
}

.m30-box  {
  display: flex;
  justify-content: center;
  margin-top: -18rem;
  margin-bottom: -7rem;
}

#m30-text-block {
  /* background-color: #00eeff; */
  width: 90%;
}

#m30-style {
  /* font-weight: 400; */
  /* font-size: 3.3rem; */
  padding: 1.3rem;
  margin-bottom: -1.3rem;
}

/* hoeft waarsch niet, kan gewoon text worden */
.m30-smallest {
  align-items: center;
  justify-content: center;
  z-index: 2;


  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 4em;
  width: fit-content;
  line-height: 0.9em;
  padding: 80px;
}






#mission {
  margin-top: 200px;
  padding-top: 100px;
  margin: 0;
  /* min-height: 80vh; */
  /* background-color: #0f55ce5a; */
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}



#mission-block {
  background-color: var(--background2);
  border-radius: 60px;
  /* padding-top: 0px; */
  padding-bottom: 50px;
  height: 85rem;
  width: 90%;
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



#mission-text {
  font-size: 3rem;
  padding: 80px;
  line-height: 3rem;
}



#mission-link-container {
  display: flex;
  justify-content: center;
}



#mission-link {
  width: fit-content;
  background-color: var(--theme-color2);
  border-radius: 50px;
  /* padding-left: 3rem; */
  padding: 1rem;
  display: flex;
  align-items: center;

  /* one ore the other / center or padding left+right */
  justify-content: center;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  text-align: center;
}

#mission-link:link {
  color: var(--theme-color1);
    text-decoration: none;
  }

  /* visited link */
  #mission-link:visited {
    color: var(--theme-color1);
    text-decoration: none;
  }

  /* mouse over link */
  #mission-link:hover {
    color: var(--theme-color1);
    text-decoration: none;

  }

  /* selected link */
  #mission-link:active {
    color: var(--theme-color1);
    text-decoration: none;

  }

#mission-link-style {
  /* font-weight: 400; */
  font-size: 3.3rem;
  padding: 0.3rem;
}









/* ............................................................................................ */
/* orbit */

#outer-orbit {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 1000px;
  height: 1000px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  /* background-color: lightblue; */
}
#orbit {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 1000px;
  height: 1000px;
  position: relative;
  /* background-color: #fc3456; */
}

/* orbit-ring gaat draaien met icons vast emaakt */
.orbit-ring {
  display: flex;
  position: relative;
  border: 2px solid ; 
  border-radius: 50%;
  width: 1000px;
  height: 1000px;
  margin: 50px;
  padding: 0;
  align-self: center;
  transform-origin: center;
}


#orbit-a {
  display: flex;
  position: absolute;
  width: 1000px;
  height: 1000px;
  color: rgb(59, 140, 245);
  animation: orbit-animation 50s linear infinite;
}

#orbit-b {
  display: flex;
  position: absolute;
  width: 850px;
  height: 850px;
  color: lightskyblue;
  animation: orbit-animation 40s linear infinite;
}

#orbit-c {
  display: flex;
  position: absolute;
  width: 700px;
  height: 700px;
  color: lightsteelblue;
  animation: orbit-animation 30s linear infinite;
}

#orbit-d {
  display: flex;
  position: absolute;
  width: 550px;
  height: 550px;
  color: lightsteelblue;
  animation: orbit-animation 20s linear infinite;
}


/* reverse orbit animation from orbit-ring for icons */


.orbit-icon {
  
  display: flex;
  position: absolute;
  background-color: rgb(216, 216, 216);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  align-self: center;
  left: -25px;
  justify-content: space-evenly;
  animation: orbit-animation 30s linear infinite reverse;
  font-size: 30px;
  overflow: hidden;
}

@keyframes orbit-animation {
  to { transform: rotate(360deg)}
}



/* icons */

/* orbit A */

#orbit-a-1 {
  animation: orbit-animation 50s linear infinite reverse;
}

#orbit-a-2 {
  animation: orbit-animation 50s linear infinite reverse;
  margin: 50px 0px 920px 750px;
}

#orbit-a-3 {
  animation: orbit-animation 50s linear infinite reverse;
  margin: 50px 0px -815px 750px;
}




/* orbit B */

#orbit-b-1 {
  animation: orbit-animation 40s linear infinite reverse;
  margin: 0px 0px 0px 850px;
}

#orbit-b-2 {
  animation: orbit-animation 40s linear infinite reverse;
  margin: 0px 0px 850px 425px;
}

#orbit-b-3 {
  animation: orbit-animation 40s linear infinite reverse;
  margin: 0px 0px -850px 425px;
}

#orbit-b-4 {
  animation: orbit-animation 40s linear infinite reverse;
  margin: 0px 0px -0px 0px;
}



/* orbit C / design ( photoshop, ai, procreate, etc. */


#orbit-c-1 {
  animation: orbit-animation 30s linear infinite reverse;
  margin: 0px 0px 495px 600px;
}

#orbit-c-2 {
  animation: orbit-animation 30s linear infinite reverse;
  margin: 0px 0px 495px 100px;
}

#orbit-c-3 {
  animation: orbit-animation 30s linear infinite reverse;
  margin: 0px 0px -485px 100px;
}

#orbit-c-4 {
  animation: orbit-animation 30s linear infinite reverse;
  margin: 0px 0px -485px 600px;
}



#orbit-c-5 {
  animation: orbit-animation 30s linear infinite reverse;
  margin: 0px 0px -700px 350px;
}

#orbit-c-6 {
  animation: orbit-animation 30s linear infinite reverse;
  margin: 0px 0px 0px 700px;
}

#orbit-c-7 {
  animation: orbit-animation 30s linear infinite reverse;
  margin: 0px 0px 700px 350px;
}

#orbit-c-8 {
  animation: orbit-animation 30s linear infinite reverse;
  margin: 0px 0px 0px 0px;
}



/* orbit D */


#orbit-d-1 {
  animation: orbit-animation 20s linear infinite reverse;
  margin: 0px 0px 0px 550px;
}

#orbit-d-2 {
  animation: orbit-animation 20s linear infinite reverse;
  margin: 0px 0px 450px 115px;
}
#orbit-d-3 {
  animation: orbit-animation 20s linear infinite reverse;
  margin: 0px 0px -450px 115px;
}
















/* bij hover over het midden, een lijst met skills en text die erbij hoort. */








/* licghte glow om alle objecten heen als achtergrond */

/* orbit alles /2 voor window iphone */



/* font awesome icons */

/* A */
#stack {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: #0f0fce; 
  background-color: rgb(244, 247, 255);
}

#slack {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: #e4149f; 
  background-color: rgb(244, 247, 255);}

#github {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: #0f98ce; 
  background-color: rgb(244, 247, 255);}

/* B */

#macbook {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(250, 142, 139);
  background-color: rgb(244, 247, 255);
}

#gym {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(121, 189, 245);
  background-color: rgb(244, 247, 255);
}

#books {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(109, 214, 67);
  background-color: rgb(244, 247, 255);
}

#improving {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(255, 205, 42);
  background-color: rgb(244, 247, 255);
  padding-left: 10%;
}



/* C */

#figma {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(147, 89, 255);
  background-color: rgb(244, 247, 255);
}

#goal-oriented {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(49, 49, 49); 
  background-color: rgb(244, 247, 255);
}

#animation {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(49, 49, 49); 
  background-color: rgb(244, 247, 255);
}

#comunication {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(236, 0, 98); 
  background-color: rgb(244, 247, 255);
}

#solution-oriented {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(0, 236, 118); 
  background-color: rgb(244, 247, 255);
}

#design {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(236, 193, 0); 
  background-color: rgb(244, 247, 255);
}

#deepThinking {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(255, 155, 89);
  background-color: rgb(244, 247, 255);
}

#research {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(89, 147, 255);
  background-color: rgb(244, 247, 255);
}

/* D */

#html {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(255, 123, 0); 
  background-color: rgb(241, 241, 241);
}


#javascript {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(255, 230, 0); 
  background-color: rgb(27, 27, 27);
}

#css {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(0, 17, 255); 
  background-color: rgb(241, 241, 241);
}



/* bij hover maak lijst ipv orbit, en reverse kleuren, maak alles zwart met witte lijnen etc. daarna transform naar lijst */

/* orbit verdubbelen, alles zwart maken, met lichte blur, ver schruif 5% naar rechts onder voor orbit schaduw */















/* Shade orbit */
/* same as normal but + s- */
/* orbit */

#s-outer-orbit {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 1000px;
  height: 1000px;
  position: relative;
  margin-top: -980px;
  margin-left: 10px;
  filter:blur(3px);
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  /* background-color: rgba(13, 13, 54, 0.515); */
}
#s-orbit {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 1000px;
  height: 1000px;
  position: relative;
}

/* orbit-ring gaat draaien met icons vast emaakt */
.s-orbit-ring {
  display: flex;
  position: relative;
  border: 2px solid ; 
  border-radius: 50%;
  width: 1000px;
  height: 1000px;
  margin: 50px;
  padding: 0;
  align-self: center;
  transform-origin: center;
  
}


#s-orbit-a {
  display: flex;
  position: absolute;
  width: 1000px;
  height: 1000px;
  color: rgb(0, 0, 0);
  animation: s-orbit-animation 50s linear infinite;
}

#s-orbit-b {
  display: flex;
  position: absolute;
  width: 850px;
  height: 850px;
  color: rgb(0, 0, 0);
  animation: s-orbit-animation 40s linear infinite;
}

#s-orbit-c {
  display: flex;
  position: absolute;
  width: 700px;
  height: 700px;
  color: rgb(0, 0, 0);
  animation: s-orbit-animation 30s linear infinite;
}

#s-orbit-d {
  display: flex;
  position: absolute;
  width: 550px;
  height: 550px;
  color: rgb(0, 0, 0);
  animation: s-orbit-animation 20s linear infinite;
}


/* reverse orbit animation from orbit-ring for icons */


.s-orbit-icon {
  
  display: flex;
  position: absolute;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  align-self: center;
  left: -25px;
  justify-content: space-evenly;
  animation: s-orbit-animation 30s linear infinite reverse;
  font-size: 30px;
  overflow: hidden;
}

@keyframes s-orbit-animation {
  to { transform: rotate(360deg)}
}



/* icons */

/* orbit A */

#s-orbit-a-1 {
  animation: s-orbit-animation 50s linear infinite reverse;  
  background-color: rgb(182, 182, 182);
}

#s-orbit-a-2 {
  animation: s-orbit-animation 50s linear infinite reverse;
  margin: 50px 0px 920px 750px;
  background-color: rgb(182, 182, 182);
}

#s-orbit-a-3 {
  animation: s-orbit-animation 50s linear infinite reverse;
  margin: 50px 0px -815px 750px;
  background-color: rgb(182, 182, 182);
}




/* orbit B */

#s-orbit-b-1 {
  animation: s-orbit-animation 40s linear infinite reverse;
  margin: 0px 0px 0px 850px;
  background-color: rgb(182, 182, 182);
}

#s-orbit-b-2 {
  animation: s-orbit-animation 40s linear infinite reverse;
  margin: 0px 0px 850px 425px;
  background-color: rgb(182, 182, 182);
}

#s-orbit-b-3 {
  animation: s-orbit-animation 40s linear infinite reverse;
  margin: 0px 0px -850px 425px;
  background-color: rgb(182, 182, 182);
}

#s-orbit-b-4 {
  animation: s-orbit-animation 40s linear infinite reverse;
  margin: 0px 0px -0px 0px;
  background-color: rgb(182, 182, 182);
}



/* orbit C / design ( photoshop, ai, procreate, etc. */


#s-orbit-c-1 {
  animation: s-orbit-animation 30s linear infinite reverse;
  margin: 0px 0px 495px 600px;
  background-color: rgb(182, 182, 182);
}

#s-orbit-c-2 {
  animation: s-orbit-animation 30s linear infinite reverse;
  margin: 0px 0px 495px 100px;
  background-color: rgb(182, 182, 182);
}

#s-orbit-c-3 {
  animation: s-orbit-animation 30s linear infinite reverse;
  margin: 0px 0px -485px 100px;
  background-color: rgb(182, 182, 182);
}

#s-orbit-c-4 {
  animation: s-orbit-animation 30s linear infinite reverse;
  margin: 0px 0px -485px 600px;
  background-color: rgb(182, 182, 182);
}



#s-orbit-c-5 {
  animation: s-orbit-animation 30s linear infinite reverse;
  margin: 0px 0px -700px 350px;
  background-color: rgb(182, 182, 182);
}

#s-orbit-c-6 {
  animation: s-orbit-animation 30s linear infinite reverse;
  margin: 0px 0px 0px 700px;
  background-color: rgb(182, 182, 182);
}

#s-orbit-c-7 {
  animation: s-orbit-animation 30s linear infinite reverse;
  margin: 0px 0px 700px 350px;
  background-color: rgb(182, 182, 182);
}

#s-orbit-c-8 {
  animation: s-orbit-animation 30s linear infinite reverse;
  margin: 0px 0px 0px 0px;
  background-color: rgb(182, 182, 182);
}



/* orbit D */


#s-orbit-d-1 {
  animation: s-orbit-animation 20s linear infinite reverse;
  margin: 0px 0px 0px 550px;
  background-color: rgb(182, 182, 182);
}

#s-orbit-d-2 {
  animation: s-orbit-animation 20s linear infinite reverse;
  margin: 0px 0px 450px 115px;
  background-color: rgb(182, 182, 182);
}
#s-orbit-d-3 {
  animation: s-orbit-animation 20s linear infinite reverse;
  margin: 0px 0px -450px 115px;
  background-color: rgb(182, 182, 182);
}







/* ardey orbital image */
#ardey-orbital-img {
  position: relative;
  width: 350px;
  height: 360px;
  display: flex;
  align-self: center;
  margin-top: 320px;
  border-radius: 50%;
} 




/* list items */

#html-2 {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(255, 123, 0); 
  background-color: rgb(241, 241, 241);
}


#javascript-2 {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(255, 191, 0); 
  background-color: var(--background2);
}

#css-2 {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(0, 17, 255); 
  background-color: var(--background2);
}

#react {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(0, 234, 255); 
  background-color: var(--background2);
}


#angular {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(255, 0, 30); 
  background-color: var(--background2);
}

#node {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(11, 165, 0); 
  background-color: var(--background2);
}

#vite {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(255, 191, 0); 
  background-color: var(--background2);
}

#agile {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(127, 127, 127); 
  background-color: var(--background2);
}

#git {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(251, 55, 55); 
  background-color: var(--background2);
}

#atlassian {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(55, 150, 251); 
  background-color: var(--background2);
}

#jira {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(55, 84, 251); 
  background-color: var(--background2);
}

#trello {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(71, 55, 251); 
  background-color: var(--background2);
}

#web-sec {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(0, 190, 35); 
  background-color: var(--background2);
}

#figma-2 {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(136, 0, 190); 
  background-color: var(--background2);
}

#uxui {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(255, 191, 0); 
  background-color: var(--background2);
}

#server {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(0, 217, 116); 
  background-color: var(--background2);
}

#deployment {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(255, 0, 89); 
  background-color: var(--background2);
}

#mobile {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(0, 200, 255); 
  background-color: var(--background2);
}



/* project slides navitation ...................................................................................................... */
/* Container for the slide */

.project-slide-container {
 padding-top: 400px;
}
.scroll-container {
  overflow: hidden;
}

/* Flex container to hold all slides */
.slides {
  display: flex;
  width: 400%; /* Total width of all slides (4 slides) */
  transition: transform 0.3s ease; /* Smooth slide transition */
}

/* Style for each slide */
.slide {
  flex: 0 0 25%; /* 25% width to fit 4 slides within the .slides container */
  display: flex;
  justify-content: center;
}

/* Navigation dots */
.navigation {
  text-align: center;
  margin-top: 10px;
  word-spacing: 4.5rem;
}

.dot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--background2);
  display: inline-block;
  /* margin: 0 5px; */
  cursor: pointer;
  margin-top: 30px;
}

.active-dot {
  background-color: var(--theme-color1);
  /* width: 70px;
  height: 70px; */
}

